      <!-- ====================== Modificaciones ======================== -->
      <!-- agregar div main-wrapper y referenciar component app-header / app-sidebar-->
      <!-- Agrega el page-wrapper / Container fluid-->
      <!-- Implementar rutas principales <router-outlet>-->
      <!-- ============================================================== -->
      
      
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">

    <app-header></app-header>
    <app-sidebar></app-sidebar>

  
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper">

      <!-- ============================================================== -->
      <!-- Container fluid SISTEMA DE RUTAS -->
      <!-- ============================================================== -->
      <div class="container-fluid">

            <app-breadcrumb></app-breadcrumb>

            <router-outlet></router-outlet>                      
                    
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->


    <!-- ============================================================== -->
      <!-- footer -->
      <!-- Asigna la variable year desde el pages.component.ts -->
      <!-- ============================================================== -->
      <footer class="footer">
        © {{year}} Admin Pro by wrappixel.com
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->


  </div>
  <!-- ============================================================== -->
  <!-- End Page wrapper  -->
  <!-- ============================================================== -->